<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.cnryb.RssReader" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>RssReader</name>
  <description>Cordova Test</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">cnryb</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <vs:plugin name="org.apache.cordova.file-transfer" version="0.4.4" />
  <vs:plugin name="org.apache.cordova.file" version="1.2.0" />
  <vs:plugin name="org.apache.cordova.network-information" version="0.2.10" />
  <vs:platformSpecificValues />
</widget>